@model IEnumerable<StudentListApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-4">
        <h2>List of Students</h2>
    </div>
    <div class="col-md-4 pull-right">
        <h3>
            <a asp-action="CreateOrRemove" class="btn btn-primary" >Add Student</a>
         
        </h3>        
    </div>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentIdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSection)
            </td>
            <td>
                <a asp-action="CreateOrRemove" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
